@import "./config";

* {
    transition: 700ms ease;
}

body {
    width: 100vw;
    height: 100vh;
    @include flex(null, center, center);
    background-color: $background-color;
    font-family: $text-font;
}

#container {
    text-align: center;

    h1,
    #battery-level {
        color: $text-color;
    }

    h1 {
        font-size: 2.5rem;
    }
}

#battery {
    width: $battery-width;
    height: $battery-height;
    margin-top: 1rem;
    background-color: $text-color;
    border-radius: $outline-radius;
    @include flex(null, center, center);
    position: relative;
}

#progress-bar-panel {
    width: 280px;
    height: 170px;
    background-color: $background-color;
    border-radius: $battery-radius;
    @include flex(null, center, center);
    position: relative;
}

#progress-bar {
    width: 10%;
    height: 100%;
    background-color: $progress-bar-color;
    border-radius: $battery-radius;
    position: absolute;
    left: 0;
    border: none;
}

#battery-level {
    font-size: 1.5rem;
    z-index: 1;
}

#plus-side {
    width: 25px;
    height: 70px;
    background-color: $text-color;
    border-radius: $battery-radius;
    position: absolute;
    right: -21px;
}

#charging-mode {
    display: none;
    width: 150px;
    height: 30px;
    background-color: $progress-bar-color;
    position: absolute;
    bottom: 0;
    position: absolute;
    z-index: -1;
}


@keyframes charging-animation {
    0% {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    30% {
        width: 15px;
        height: 25px;

    }

    100% {
        bottom: 30.7vh;
        width: 40px;
        border-radius: 25px;

    }
}